GCP_PROJECT_ID=linear-theater-436300-r9
BIGQUERY_LOCATION=US
BIGQUERY_DATASET=seller_copilot_prod
GOOGLE_APPLICATION_CREDENTIALS=C:\Users\niran\OneDrive\Documents\linear-theater-436300-r9-f04051db9e69.json
